@import "tailwindcss";

:root {
  color-scheme: dark;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Arial,
    Helvetica,
    sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #0b0b0f;
  color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
